@keyframes arrow1 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes arrow2 {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes arrow3 {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes arrow4 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}
@keyframes arrow {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-61%);
  }
}
@keyframes snow2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes snow {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes door1 {
  0% {
    transform: rotateY(0);
    transform-origin: left;
  }
  50% {
    transform: rotateY(-80deg);
    transform-origin: left;
  }
  100% {
    transform: rotateY(0);
    transform-origin: left;
  }
}

@keyframes door2 {
  0% {
    transform: rotateY(0);
    transform-origin: right;
  }
  50% {
    transform: rotateY(-80deg);
    transform-origin: right;
  }
  100% {
    transform: rotateY(0);
    transform-origin: right;
  }
}
@keyframes rotate-bg-color {
  0% {
    background-color: #231686;
  }
  25% {
    background-color: #fe572a;
  }
  50% {
    background-color: #685bc7;
  }
  75% {
    background-color: #daff02;
  }
  100% {
    background-color: #fe572a;
  }
}

@keyframes logo {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(100%);
  }
  70% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes advent {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  55% {
    opacity: 5;
  }
  95% {
    opacity: 5;
  }
  100% {
    opacity: 5;
  }
}

@keyframes snow_rot {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(310px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes running-animation1 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
@keyframes running-animation {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes scale {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes matrix {
  0% {
    transform: matrix(0.7);
  }
}

@keyframes skew {
  0% {
    transform: skewX(0);
  }
  50% {
    transform: skewX(-25deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes jump1 {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(10px);
  }
}

@keyframes jump2 {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(-10px);
  }
}
