@keyframes arrow1 {
  0% {
    transform: translateZ(0);
  }

  100% {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes arrow2 {
  0% {
    transform: translateZ(0);
  }

  100% {
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes arrow {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-61%);
  }
}
@keyframes snow2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes snow {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes door1 {
  0% {
    transform: rotateY(0);
    transform-origin: left;
  }
  50% {
    transform: rotateY(-80deg);
    transform-origin: left;
  }
  100% {
    transform: rotateY(0);
    transform-origin: left;
  }
}

@keyframes door2 {
  0% {
    transform: rotateY(0);
    transform-origin: right;
  }
  50% {
    transform: rotateY(-80deg);
    transform-origin: right;
  }
  100% {
    transform: rotateY(0);
    transform-origin: right;
  }
}
@keyframes rotate-bg-color {
  0% {
    background-color: #231686;
  }
  25% {
    background-color: #fe572a;
  }
  50% {
    background-color: #685bc7;
  }
  75% {
    background-color: #daff02;
  }
  100% {
    background-color: #fe572a;
  }
}

@keyframes santa {
  0% {
    transform: translateY(110%);
  }
  20% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(110%);
  }
}

@keyframes snow_rot {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(310px);
  }
  100% {
    transform: translateY(0);
  }
}
