* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: auto;
  position: relative;
}

.bl01 {
  background-color: aqua;
  width: 1440px;
  height: 100px;
}
